---
pageable: true
per_page: 10
---

<div class="l-article">
<% page_articles.each_with_index do |article, i| %>
  <div class="l-article__body">
    <p class="date-time"><%= article.date.strftime('%b %e %Y') %></p>
    <h2 class="title"><%= link_to article.title, article %></h2>
    <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
    <div class="l-article__contents">
      <%= article.summary %>
      <!-- <%= link_to 'Read more…', article %> -->
    </div><!-- l-article__body -->
  </div><!-- l-article__body -->
<% end %>
</div><!-- l-article -->

<div class="l-pager">
  <ul>
  <% if paginate && num_pages > 1 %>
    <% if prev_page %>
      <li class="prev"><%= link_to 'Prev page', prev_page %></li>
    <% else %>
      <li class="prev">Prev page</li>
    <% end %>
  <% end %>
  <% if paginate %>
    <li class="page">Page <%= page_number %> of <%= num_pages %></li>
    <% if next_page %>
      <li class="next"><%= link_to 'Next page', next_page %></li>
    <% else %>
      <li class="next">Next page</li>
    <% end %>
  <% end %>
  </ul>
</div>